
@import "flex.less";
@import "colorim.less";

body, input {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    transition: color 500ms, background-color 1000ms;
}

a {
    transition: color 500ms;
}

.appbox {
    position: absolute;
    .flex-display();
    .flex-direction(column);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.colorbox {
    display: block;
    position: relative;
    .flex(1 1 auto);
}

.linebox {
    .flex(0 1 auto);
    min-height: 3ex;
    font-size: 20px;
    padding: .5ex;
}

.displaybox {
    .flex-display();
    .flex-direction(row);
    justify-content: center;
    text-align: center;
}

.helpbox {
    .flex-display();
    .flex-direction(row);
}

.helpbox > span {
    border: dotted 1px;
    border-radius: 5px;
    .flex(0 1 auto);
    display: span;
    margin: 3px;
    padding: 1px 10px;
}

.center {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    position: relative;
}

.colorimPastebin {
    // visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 1;
    width: 1;
}

.colorimField {
    width: 100%;
    position: absolute;
    font-size: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    border: none;
    padding: 4px;
    outline: none;
}
